{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收购马氏家族打卡系统</title>
    <link rel="stylesheet" href="{% static 'clocka/assets/css/index.css' %}">
</head>
<body>
<nav>
    <ul class="nav">
        <li><a href="/index/">首页</a></li>
        <li><a href="/login/">登录</a></li>
        <li><a href="registration">注册</a></li>
        <li><a href="/daka/">打卡</a></li>
        <li><a href="/select/">查看打卡记录</a></li>
    </ul>
</nav>
<form method="post" action="/select/">
    <br>
    <input class="username" type="text" name="username" placeholder="请输入您要查看的用户名" >
    <button>查看此用户考勤情况</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button>查看所有用户考勤情况</button>
    </div>
</form>
</body>
</html>